@page
@model AboutModel
@{
}

<h1 class="mb-2">Ejercicio</h1>

<p>Hacer una aplicación Asp.net Razor Pages, con una pagina llamada nomina, donde se liste en una tabla
  nombres, apellidos, cargo, salario mensual, descuento AFP, descuento ARS, descuento ISR, total de descuentos y Salario
  Neto.
  Los datos de nombre, apellido, cargo y salario deben estar en una propiedad del Modelo de la pagina. Los demás campos,
  debe crear funciones correspondientes para calcularlos.
  Precargar por lo menos datos para 5 empleados.
</p>
<p>
  El monto a pagar de Seguro Familiar de Salud (SFS) se obtiene sacando el 3.04% del salario mensual del empleado. Su
  máximo está limitado a $4,098.53. Este monto equivale al 3.04% de 10 veces el salario mínimo ($13,482.00).
</p>

<p>
  El monto a pagar de Administradora de Fondo de Pensiones (AFP) se obtiene sacando el 2.87% del salario mensual del
  empleado. Su máximo está limitado a $7,738.67. Este monto equivale al 2.87% de 20 veces el salario mínimo
  ($13,482.00).
  El monto a pagar del Impuesto Sobre la Renta (ISR) se calcula según la info del enlace:
</p>